﻿@{
    ViewBag.Title = "Index";
    @model MvcImplementation.Models.Document
}
@Scripts.Render("~/bundles/jquery")

@using (Html.BeginForm())
{
    <h2>Index</h2>
    @Html.RadioButtonFor(m => m.DocumentType, "Quick")
    <span>Quick</span>
    @Html.RadioButtonFor(m => m.DocumentType, "Standard")
    <span>Standard</span>
    @Html.RadioButtonFor(m => m.DocumentType, "Slow")
    <span>Slow</span>
    <div id="CopiesEntry">
        @Html.TextBoxFor(m => m.NumberOfCopies)
        @Html.LabelFor(m => m.NumberOfCopies)
    </div>

    <div id="DelayEntry">
        @Html.TextBoxFor(m => m.Delay)
        @Html.LabelFor(m => m.Delay)
    </div>
    <input type="submit"/>
}
<div>@Model.PrintedOutput</div>

<script>
    $("#CopiesEntry").hide();
    $("#DelayEntry").hide();
    $("#DocumentType").val("Quick");
    $("input[name='DocumentType']").on("change", function() {
        if ($(this).val() == "Standard" || $(this).val() == "Slow") {
            $("#CopiesEntry").show();
            if ($(this).val() == "Slow") {
                $("#DelayEntry").show();
            } else {
                $("#DelayEntry").val("").hide();
            }
        } else {
            $("#CopiesEntry").val("").hide();
            $("#DelayEntry").val("").hide();
        }
    });
</script>


